.cadastro-container {
  width: 100%;
  max-width: 1120px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cadastro-container .content {
  width: 100%;
  padding: 96px;
  background: #f0f0f5;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cadastro-container .content section {
  width: 100%;
  max-width: 380px;
}

.cadastro-container .content section h1 {
  margin: 64px 0 32px;
  font-size: 32px;
}

.cadastro-container .content section p {
  font-size: 18px;
  color: #737380;
  line-height: 32px;
}

.cadastro-container .content form {
  width: 100%;
  max-width: 350px;
}

.cadastro-container .content form .radio-button-classificacao {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;
  border: 1px solid #dcdce6;
  border-radius: 8px;
  background: #ffffff;
  padding: 18px;
}

.cadastro-container .content form .radio-button-classificacao label {
  font-size: 18px;
  width: 100%;
  color: #737380;
}

.cadastro-container .content form .radio-button-classificacao input {
  width: 100%;
  height: 20px;
  color: #333333;
  border: 1px solid #dcdce6;
  border-radius: 8px;
  padding: 0 24px;
  margin: 0;
}

.cadastro-container .content form input {
  margin-top: 8px;
}

@media (max-width: 980px) {
  .cadastro-container .content {
    flex-direction: column;
    padding: 0;
    height: 100%;
  }
  .cadastro-container .content section img {
    width: 100%;
  }

  .cadastro-container .content section h1 {
    margin: 32px 0 16px;
  }

  .cadastro-container .content section a.back-link {
    margin-top: 16px;
  }
}

@media (min-width: 1200px) {
  .cadastro-container .content form {
    max-width: 450px;
  }
}
